<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Integration Form</title>
</head>
<body>
    <h1>Welcome to Intergation Page</h1>

<form action='/submit' method='POST'>
    <label for = "Science:">Science:</label><br>
    <input type="text" id="science" name="science" value="0"><br>

    <label for = "Maths:">Maths:</label><br>
    <input type="text" id="Maths" name="Maths" value="0"><br>

    <label for = "Data Science:">Data Science:</label><br>
    <input type="text" id="Data Science" name="Data Science" value="0"><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>